.card_to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 30vw;
    min-width: 250px;
    height: inherit;
    border-radius: 5px;
    text-align: center;
    background-color: white;
  }

  button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .ba{
    
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .div {
    text-decoration: none;
    font-size: 40px;
    width: 40px;
    color: black;
    margin: 4px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
