/* Slideshow container */
.slideshow-container {
    width: unset;
    background: transparent;
    display: flex;
    flex-direction: row;
    height: inherit;
    border-radius: 5px;
    justify-content: center;
}
.light{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50px;
    }

.hello
{
    height: inherit;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    min-width: 120px; 
    max-height: 500px;
    background-color: #000020;
}
.hello ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;

}
.hello ul li
{
    padding-bottom: 5px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

}
.hello ul li:hover
{
    border-bottom:2px solid white;
    box-sizing: border-box;

    padding-bottom: 5px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (min-width:400px){
    
    .hello{
	min-width: 200px;
    }
    
}
@media screen and (min-width:700px){
    
    .hello{
	min-width: 300px;
    }
    
}
