
  .addTodo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 90vw;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    position: fixed;

  }

 .button {
      margin-top: 5px;
      border-radius: 4px;
      border: none;
      height: 25px;
      text-align: center;
      padding: 3px;
      text-justify: center;
      display: inline-block;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 120px;
      font-size: 18px;
 }
 .add_btn{
     width: 90%;
     display: flex;
     align-items: center;
     justify-content:flex-end;
     margin-top: 25px;
 }
 .add_btn button{
     width: 120px;
     height: 30px;
     border-radius: 5px;
     margin-right: 50px;
 }
 .todo_form_container{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;

 }
 .todo_form{
     width: 90%;
     margin: 3px;

 }
.todo_form  input{
      width: 60%;
      height: 27px;
      border-radius: 5px;
      background-color: #f5f5f5;
      border: none;
  }
  .notes{
      width: 80%;
      border-radius: 5px;
      background-color: #f5f5f5;
      margin-top: 6px;
      display: flex;
      height: 150px;
      padding: 0;
  }
  .notes input{
      margin: 0;
      width: 60%;
      height: 27px;
      border: none;
      background-color: transparent;
      text-decoration: none;
      border-radius: 5px;
  }
  .notes button{
      border-radius: 4px;
      border: none;
      height: 25px;
      text-align: center;
      padding: 3px;
      text-justify: center;
      outline: 0;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 120px;
      font-size: 18px;
      margin-top: 0;
  }
  .ba{
      display: flex;
      width: 100%;
      margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;

  }
  .div {
    text-decoration: none;
    font-size: 40px;
    width: 40px;
    color: black;
    margin: 4px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
